* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    background-color: rgb(52, 90, 186);
}

.container {
    width: 50%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 5rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    color: black;
}

h2 {
    font-size: 2.5rem;
    color: black;
    margin-bottom: 2rem;

}

.buttons {

    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-top: 1rem;

}

#check {
    background-color: rgb(52, 90, 186);
    color: aliceblue;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons:hover {
    background-color: aliceblue;
    color: rgb(52, 90, 186);
}

#result {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 1rem;
    margin-right: auto;
    margin-left: 0.5rem;
}
#ASCII {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
}